
.wrapper {
    width: 100%;
    padding-bottom: calc(var(--height-toolbar) - 1px);
    border-top: 1px solid var(--border-color);  

    .content {
        width: 80%;
        margin: 0 auto;
        padding: var(--height-toolbar) 0;
        display: flex;

        & > div {
            box-shadow: 1px 1px 1px 1px var(--box-shadow-color);
        }

        .contact {
            flex: 1;
            background-color: var(--grey-color);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px 30px;
            border-radius: 12px;
            margin-right: 12px;

            .phone {
                margin-bottom: 12px;

                i {
                    font-size: 1.6rem;
                    margin-right: 5px;
                }
            }

            .email {

                i {
                    font-size: 1.6rem;
                    margin-right: 5px;
                }
            }
        }

        .heading {
            flex: 1;
            font-size: 1.6rem;
            font-weight: 300;
            text-align: center;
            background-color: var(--grey-color);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px 30px;
            border-radius: 12px;
            margin-left: 12px;

            p {
                line-height: 2.2rem;

                i {
                    font-size: 1.8rem;
                    color: rgb(215, 215, 25);
                    margin-right: 8px;                    
                }
            }
        }
    }
}
